RPC_PROVIDER_URL=https://polygon-mainnet.infura.io/v3/your-api-key
CONTRACT_ADDRESS=0xbD6C7B0d2f68c2b7805d88388319cfB6EcB50eA9
START_BLOCK=61500000
BLOCKS_PER_BATCH=100

PORT=3000
HOST=127.0.0.1

LOG_LEVEL=info

MONGODB_URI=mongodb://admin:admin@localhost:27017/lifi?authSource=admin
MONGODB_DB_NAME=lifi
MONGODB_USER=admin
MONGODB_PASSWORD=admin
